body{
    height: 600px;
}



.cont-log{
    display: flex;
    justify-content: center;
    align-items: center;  

}
main {
    height: 800px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width:  400px;
}